
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

.backlProj {
  width: 100%;
  margin: auto;
  padding-top: 5%;
}

.conteItemsCarrusel {
  margin-bottom: 10rem;
  width: 80%;
  margin: auto;
}
/*=======================
========card=========
=========================*/
.titleCardP {
  margin-bottom: 0;
  text-align: center;
  font-size: 7rem;
  font-family: 'Bebas Neue', cursive;
  color: white;
  margin-bottom: 3rem;
}

.detailProj {
  margin-bottom: 0;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: white;
  position: absolute;
  top: 60%;
  font-family: "Vollkorn", serif;
}
.backgoundProject {
  height: 100%;
  width: 100%;
}
.carrBtn {
  background-color: #313131;
  padding: 0.5rem;
  color: aliceblue;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  display: flex;
  border: none;
}
.carrBtn:hover {
  background-color: rgb(65, 56, 56);
  outline: solid 1px white;
  border-radius: 10%;
}

/*========== efecto flechas =========*/

.card--active {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.card--left {
  transform: translateX(-125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}

.card--right {
  transform: translateX(125%) scale(0.8);
  transition: 500ms;
  opacity: 0.3;
}
@media (max-width: 900px) {
  .conteItemsCarrusel {
    width: 60%;
    margin: auto;
    align-items: center;
  }
  .titleCardP {
    font-size: 4rem;
  }
}
