strong .barra1{
    border: solid red 1px;
    width: 70%;
     background-color: lightskyblue;
      color: black;
}

.grafico {
    height: 1em;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid orangered;
    padding: 1px;
    margin: auto;
  }
  .grafico .barra {
    display: block;
    position: relative;
    text-align: center;
    color: #333;
    height: 1em;
    line-height: 1em;    
  }
  .grafico .barra span {
    position: absolute;
    left: 1em;
  }
  .grafico1 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid lightblue;
    padding: 1px;
    margin: auto;
  }
  .grafico1 .barra1 {
    display: block;
    position: relative;
    text-align: center;
    color: #333;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico1 .barra1 span {
    position: absolute;
    left: 1em;
  }
  
  .grafico2 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid #EFD81D;
    padding: 1px;
    margin: auto;
  }
  .grafico2 .barra2 {
    display: block;
    position: relative;
    text-align: center;
    color: #333;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico2 .barra2 span {
    position: absolute;
    left: 1em;
  }
  
  .grafico3 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid lightblue;
    padding: 1px;
    margin: auto;
  }
  .grafico3 .barra3 {
    display: block;
    position: relative;
    text-align: center;
    color: #333;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico3 .barra3 span {
    position: absolute;
    left: 1em;
  }
  .grafico4 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid #7649BB;
    padding: 1px;
    margin: auto;
  }
  .grafico4 .barra4 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico4 .barra4 span {
    position: absolute;
    left: 1em;
  }
  
  .grafico5 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid #7649BB;
    padding: 1px;
    margin: auto;
  }
  .grafico5 .barra5 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico5 .barra5 span {
    position: absolute;
    left: 1em;
  }
  .grafico6 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid #8BBF3D;
    padding: 1px;
    margin: auto;
  }
  .grafico6 .barra6 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico6 .barra6 span {
    position: absolute;
    left: 1em;
  }
  .grafico7 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid lightblue;
    padding: 1px;
    margin: auto;
  }
  .grafico7 .barra7 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico7 .barra7 span {
    position: absolute;
    left: 1em;
  }
  .grafico8 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid lightblue;
    padding: 1px;
    margin: auto;
  }
  .grafico8 .barra8 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico8 .barra8 span {
    position: absolute;
    left: 1em;
  }
  .grafico9 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid lightblue;
    padding: 1px;
    margin: auto;
  }
  .grafico9 .barra9 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico9 .barra9 span {
    position: absolute;
    left: 1em;
  }
  .grafico10 {
    height: 1rem;
    position: relative; /* IE is dumb */
    width: 30%;
    outline: 1px solid rgb(240, 240, 240);
    padding: 1px;
    margin: auto;
  }
  .grafico10 .barra10 {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    height: 1rem;
    line-height: 1rem;
  }
  .grafico10 .barra10 span {
    position: absolute;
    left: 1em;
  }

  .tecnology{
    margin-top: 0;
}
  
  /* * ============================== */
  /* * ============ HEADER ========== */
  /* * ============================== */
  
  .navbar {
    background: #151515;
    background-image: radial-gradient(circle at 79.88% 114.09%, #fff918 0, #ffe40c 25%, #fdd000 50%, #eebc00 75%, #dfa900 100%);
    position: sticky;
    top: 0px;
    border-bottom: #197cc7 groove 0.3rem;
    z-index: 100;
    height: 3%;
  }
  
  .navbar a {
    color: black;
    display: inline-block;
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-out all;
  
  }
  
  .navbar a:hover {
    background: #1d2f3d;
    color: #fff;
    text-decoration: none;
  }
  
  .contenedor {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  /* * ============================== */
  /* * ===== CONTENEDOR IMAGEN ====== */
  /* * ============================== */
  
  
  
  /* From uiverse.io by @alexruix */
  .contenedorCard {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background: white;
    transition: all 0.5s ease-in-out;
    align-items: center;
    overflow: hidden;
    background-color: #232323;
  }
  .imgInicio {
    margin: auto;
    border-radius: 100%;
    margin-top: 4rem;
  }
  .textProj{
    color: white;
  }
  
  .card-hidden {
    display: flex;
    transform: translateY(200%);
    flex-direction: column;
    gap: 0.5rem;
    transition: transform 0.5s ease-in, opacity 0.3s ease-in;
    opacity: 0;
    font-size: larger;
    max-width: 100%;
    margin: auto;
    color: white;
    margin-bottom: 2rem;
  }
  .myInfo {
    max-width: 30%;
    margin: auto;
    text-align: center;
    color: white;
    margin-bottom: 5em;
    margin-top: 3rem;
    
  }
 a {
    text-decoration: none;
  }
.barra{width: 90%; background-color: orangered; color: black;}
.barra1{width: 70%; background-color: lightskyblue; color: black;}
.barra2{width: 85%; background-color: #EFD81D; color: black;}
.barra3{width: 60%; background-color: #00D5F7; color: black;}
.barra4{width: 65%; background-color: #7649BB; color: black;}
.barra5{width: 80%; background-color: #6D11EE; color: black;}
.barra6{width: 60%; background-color: #8BBF3D; color: white;}
.barra7{width: 60%; background-color: #3A72BD; color: white;}
.barra8{width: 65%; background-color: #2F74C0; color: white;}
.barra9{width: 80%; background-color: #31648C; color: white;}
.barra10{width: 70%; background-color: black; color: white;}



  .card:hover {
    transform: translate(0px, 0px);
    border-color: #5bc0eb;
  }
  
  .card:hover .card-hidden {
    transform: translateY(0);
    opacity: 1;
  }
  .card:hover .imgInicio {
    box-shadow: 2px 2px 20px rgb(246, 255, 0);
  }
  
  .card:hover .title {
    transform: translateY(200%);
  }
  
  @media screen and (max-width: 900px) {
    .grafico{
      width: 80%;
    }
    .grafico1{
      width: 80%;
    }
    .grafico2{
      width: 80%;
    }
    .grafico3{
      width: 80%;
    }
    .grafico4{
      width: 80%;
    }
    .grafico5{
      width: 80%;
    }
    .grafico6{
      width: 80%;
    }
    .grafico7{
      width: 80%;
    }
    .grafico8{
      width: 80%;
    }
    .grafico9{
      width: 80%;
    }
    .grafico10{
      width: 80%;
    }
  
    .card {
      overflow: scroll;
    
    }

    .card-hidden {
      overflow-y: scroll;
      width: 150%;
    }
    .myInfo {
      font-size: small;
      max-width: 100%;
    }
 
    .navbar .contenedor {
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
    }
  
    .navbar a {
      width: auto;
      flex: 1;
    }
 
  }

   @media screen and (max-width: 900px) {
    .grafico{
      width: 80%;
    }
    .grafico1{
      width: 80%;
    }
    .grafico2{
      width: 80%;
    }
    .grafico3{
      width: 80%;
    }
    .grafico4{
      width: 80%;
    }
    .grafico5{
      width: 80%;
    }
    .grafico6{
      width: 80%;
    }
    .grafico7{
      width: 80%;
    }
    .grafico8{
      width: 80%;
    }
    .grafico9{
      width: 80%;
    }
    .grafico10{
      width: 80%;
    }
  
    .card {
      overflow: scroll;
    
    }

    .card-hidden {
      overflow-y: scroll;
      width: 150%;
    }
    .myInfo {
      font-size: small;
      max-width: 100%;
    }
 
    .navbar .contenedor {
      flex-wrap: wrap;
      margin: 0;
      width: 100%;
    }
  
    .navbar a {
      width: auto;
      flex: 1;
    }
 
  }