/* * ============================== */
/* * ===== CONTENEDOR IMAGEN ====== */
/* * ============================== */

@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
/* From uiverse.io by @alexruix */
#inicio {
  margin: auto;
  /* margin-top: 150%; */
}
.card {
  width: 100%;
  height: 100%;
  min-height: 560px;
  min-height: 365.22;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: transparent;
  border: none;
  margin-bottom: 5%;
  margin-top: 5%;
}
.cardPic{
  width: 365px;
  height: 365px;
  background-color: #715959;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
               transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
               overflow: hidden;
               border-bottom-left-radius: 50px;
               border-top-right-radius: 50px;

}
.cardPic:hover{
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  transform: scale(1.05);
  outline: solid black 5px;

}
/*==================== card left ===============*/

.cardLeft {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 7rem;
  color: white;
  width: 45%;
}
.contact {
  font-size: medium;
  font-family: "Vollkorn", serif;
  margin-bottom: 0%;
}

.subtitle {
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
  margin-top: 3%;
  line-height: 2.5rem;
  text-align: start;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.titleCard {
  margin-bottom: 0;
  text-align: start;
  font-size: 5.5rem;
  color: white;
  width: 100%;
  overflow: hidden;
  white-space: pre;
  font-family: 'Bebas Neue', cursive;

}

.contact {
  font-size: 1.25rem;
}
.linkC {
  margin-left: 1rem;
}

/*==================== card left ===============*/

.imgInicio {
  width: 100%;
}


.myInfo {
  max-width: 100%;
  margin: auto;
  text-align: center;
  color: white;
  margin-bottom: 5em;
  margin-top: 3rem;
  border-radius: 5%;
  padding: 1rem 0.5rem 1rem 0.5rem;
}
a {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .card {
    overflow: unset;
    flex-direction: column-reverse;
  }
  .myInfo {
    font-size: small;
    max-width: 100%;
  }
  .titleCard {
    text-align: center;
    font-size: 3rem;
  }
  .imgInicio {
    height: 20rem;
  }
  .subtitle {
    padding-left: 10%;
    padding-right: 1%;
  }
  .cardLeft {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
}
/*================ BACKGROUND ============*/
