.foot {
  position: sticky;
  top: 100%;
  z-index: 10;
}
.toTopBtn {
  width: 60px;
  height: 60px;
}

.btnTop {
  margin-left: 95%;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .foot {
    display: none;
  }
}

.btnTop svg:hover path{
  fill:#715959;
  transition: fill .3s;

}
