@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
.d-block {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  width: 80%;
  margin: auto;
}

.project {
  position: absolute;
  align-items: center;
  font-family: DarkM;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  font-size: 6rem;
  background-color: rgba(0, 0, 0, 0.544);
  width: 80%;
  margin-left: 10%;
  padding-bottom: 100%;
}
.projectDate {
  position: absolute;
  background-color: transparent;
  align-items: center;
  color: white;
  padding: 1rem 1rem 1rem 2rem;
  font-family: "Vollkorn", serif;
  width: 80%;
  margin-left: 10%;
}
.projectDet {
  position: absolute;
  background-color: transparent;
  width: 100%;
  margin-top: 15%;
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
  color: white;
  padding-left: 2rem;
  width: 80%;
  margin-left: 10%;
}
.projectDet1 {
  position: absolute;
  background-color: transparent;
  width: 100%;
  margin-top: 22%;
  font-family: "Vollkorn", serif;
  font-size: 1.25rem;
  color: white;
  padding-left: 2rem;
  width: 80%;
  margin-left: 10%;
}
.projectDet2 {
  position: absolute;
  background-color: transparent;
  width: 100%;
  margin-top: 25.5%;
  font-family: "Vollkorn", serif;
  font-size: 1.25rem;
  color: white;
  padding-left: 2rem;
  width: 80%;
  margin-left: 10%;
}


b{background-color: transparent;
}

@media (max-width: 900px) {

  .project {  
    font-size: 1.25rem;
    justify-content: center;
  }
  .projectDate {
    font-size: .7rem;
    margin-left: 2%
  }
  .projectDet {
  display: none;
  }
  .projectDet1 {
    display: none;
  }
  .projectDet2 {
    font-size: .5rem;
    margin-left: 2%
  }
  .carousel-inner {
    width: 100%;
    margin: auto;
  }
}
