/*================ FONTS ==========*/
@font-face {
    font-family:psyco;
    src: url("../assets/PsychoartRegular-jEPJ7.ttf");
  }
  @font-face {
    font-family:Block;
    src: url("../assets/Blockletter.otf");
  }
  @font-face {
    font-family:Robus;
    src: url("../assets/Robus-BWqOd.otf");
  }
  @font-face {
    font-family:Space;
    src: url("../assets/SpaceMission-rgyw9.otf");
  }
  @font-face {
    font-family:Evodia;
    src: url("../assets/EvoriaRegular-3z5Y6.ttf");
  }



.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  /*Text*/

.title {
    position: absolute;
    bottom: 1rem;
    transition: transform 0.25s ease-out;
    border-radius: 20% 20% 0 0;
  }
  
  .titulo1{
    margin-top: 3rem;
    color: #FFA903;
    font-family: Block;
    font-size: 3rem;
    background-color: #0E3FA9;
    text-align: center;
  
  }
  .titulo2{
    margin-top: 1rem;
    color: #6334fd;
    font-family: psyco;
    font-size: 3rem;
    background-color:#1D2F3D;
    text-align: center;
  }
  .titulo3{
    margin-top: 1rem;
    color: #eefc27;
    font-family: Robus;
    font-size: 5rem;
    background-color:#d61717;
    text-align: center;
    font-weight: 50;
  }
  .titulo4{
    margin-top: 1rem;
    color: #E49E2D;
    font-family: Space;
    font-size: 3rem;
    background-color:#000000;
    text-align: center;
    font-weight: 50;
  }
  .textProj{
    color: white;
  }
  /*============ projects ============*/
  .contenido{
    background-color: #232323;
    box-shadow: 15px 15px 20px #232323;
  }
  .blockBuster{
  
    background-image: url("https://elcomercio.pe/resizer/SXN4M284q1xNDmj21x8TW7GpgU0=/1200x675/smart/filters:format(jpeg):quality(75)/arc-anglerfish-arc2-prod-elcomercio.s3.amazonaws.com/public/CIWYVSGXDBFYDA4CHY4QVVKMO4.jpg");
  }
  .bgCountries{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://wallpapers.com/images/hd/minimalist-neon-blue-and-black-world-map-w1ycvc2injlkae7p-w1ycvc2injlkae7p.jpg");
  }
  .VideoGames{
    background-image: url("https://s3.envato.com/files/b5dfa354-f5af-4580-b02a-06486bbebe10/inline_image_preview.jpg");
  }
  .svaly{
    background-image: url("https://i.pinimg.com/originals/1e/c8/ca/1ec8ca49d28197f0e9990cc9947f8667.jpg");
  }

  /* * ============================== */
/* * ============ ASIDE =========== */
/* * ============================== */

aside {
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: #1d2f3d;
    padding: 20px;
    border-radius: 3px;
    position: sticky;
    top: 1rem;
    border-radius: 5%;
    box-shadow: 6px 6px 20px #1d2f3d;
  }
  
  aside .titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
    color: #f2f2f2;
  }
  /* aside:hover {
    box-shadow: 6px 6px 20px #1d2f3d;
  } */
  
  aside .indice a {
    display: block;
    margin-bottom: 10px;
    color: #ffcd48;
  }
  
  /* * ============================== */
/* * ============ MAIN ============ */
/* * ============================== */

main {
    min-height: 100vh;
  }
  
  main .contenido p {
    margin-bottom: 20px;
    line-height: 30px;
    color:white;
    text-align: center;
    background: rgba(0, 0, 0, 0.694);
  }
  
  main .contenido .titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    padding-top: 40px;
  }
  
  main .contenido .fecha {
    font-size: 14px;
    color: #b5b5b5;
  }
  
  @media screen and (max-width: 900px) {
    .contenido{
      border-radius: 1% 1% 0 0;
     }
    
      main .contenedor {
        flex-direction: column;
      }
      aside {
        position: static;
        margin: 40px 0 0 0;
      }
  }