@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

@font-face {
  font-family: DarkM;
  src: url("../assets/DarkMagic-2O3w8.ttf");
}

.myName {
  font-family: DarkM;
  font-size: 2.5rem;
  color: goldenrod;
  justify-content: start;
  margin-top: 0;
  text-decoration: underline;
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 100;
  white-space: nowrap;
  padding-top: 0.5%;
  background-color: #282828;
}
.navStart {
  padding-top: 0;
}
.navEnd {
  justify-content: space-between;
  gap: 0.2rem;
  display: flex;
}

.navbar .buttonText {
  color: white;
  display: inline-block;
  padding: 1rem;
  width: 100%;
  text-align: center;
  transition: 0.3s ease-out all;
  font-family: "Vollkorn", serif;
  filter: invert(1%);
}

.outLineButton {
  border: solid 4px white;
}
.navbar b {
  padding: 9px 24px 8px 24px;
  border-radius: 4px;
}

.navbar b:hover {
  background: hsla(0, 0%, 100%, 0.1);
  text-decoration: none;
}

.contenedor {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .myName {
    font-size: 2rem;
  }

  .navbar {
    position: sticky;
    top: 0px;
    z-index: 100;
    height: 3%;
    white-space: nowrap;
    padding-top: 1.5%;
  }
  .navStart {
    padding-top: 0;
  }
  .navEnd {
    display: none;
  }

  .navbar b {
    display: none;
  }

  .navbar b:hover {
    display: none;
  }

  .contenedor {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}
