@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

.aboutMe {
  width: 100%;
  margin: auto;
  text-align: center;
}
.aboutMeContainer {
  width: 100%;
  height: 100%;
  display: flex; /* display block responsive  */
  justify-content: center;
  gap: 8rem;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5%;
}
/*==========================================
============= Lado izquierdo About me ======
===========================================*/

.left {
  width: 45%;
  height: 100%;
}
.iconTecno {
  width: 50px;
  margin-bottom: 0.5rem;
}
.skills {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 5.5rem;
  color: white;
  height: 100%;
  padding-top: 0;
  margin-bottom: 0%;
  margin-top: 0;
}
.row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  justify-content: left;
  padding-top: 0;
  line-height: 0.5rem;
  list-style: none;
}
li {
  list-style: none;
}
.tecnology {
  color: white;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

.fondoBar {
  display: flex;
  width: 100%;
  background-color: #e7e7e7;
  padding-left: 0;
  height: 1rem;
}
.fondoBar p {
  white-space: pre;
}
.barraHTML {
  width: 20%;
  background-color: orangered;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  color: white;
  padding-top: 0.3rem;
  padding-left: 1rem;
  height: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
  margin-right: 15px;

}
.aboutMe:hover .barraHTML {
  width: 80%;
  transition: width 1.7s ease-in-out;
}
.barraCSS {
  width: 20%;
  background-color: #254bdd;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraCSS {
  width: 70%;
  transition: width 1.7s ease-in-out;
}

.barraReact {
  width: 20%;
  background-color: #5ed3f3;
  vertical-align: middle;
  height: 0.6rem;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: black;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraReact {
  width: 70%;
  transition: width 1.7s ease-in-out;
}

.barraRedux {
  width: 20%;
  background-color: #7649bb;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraRedux {
  width: 70%;
  transition: width 1.7s ease-in-out;
}

.barraJS {
  width: 20%;
  background-color: #efd81d;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: black;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraJS {
  width: 85%;
  transition: width 1.7s ease-in-out;
}

.barraBoot {
  width: 20%;
  background-color: #7411f1;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraBoot {
  width: 80%;
  transition: width 1.7s ease-in-out;
}

.barraNode {
  width: 20%;
  background-color: #8bbf3d;
  vertical-align: middle;
  height: 1rem;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: black;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraNode {
  width: 60%;
  transition: width 1.7s ease-in-out;
}

.barraTS {
  width: 20%;
  background-color: #2f74c0;
  vertical-align: middle;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraTS {
  width: 70%;
  transition: width 1.7s ease-in-out;
}

.barraPostgre {
  width: 20%;
  background-color: #31648c;
  vertical-align: middle;
  height: 1rem;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraPostgre {
  width: 65%;
  transition: width 1.7s ease-in-out;
}

.barraSeque {
  width: 20%;
  background-color: #254bdd;
  vertical-align: middle;
  height: 1rem;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraSeque {
  width: 60%;
  transition: width 1.7s ease-in-out;
}

.barraGit {
  width: 20%;
  background-color: black;
  vertical-align: middle;
  height: 1rem;
  text-align: left;
  font-family: "Vollkorn", serif;
  font-size: small;
  color: white;
  padding-top: 0.3rem;
  height: 1rem;
  padding-left: 1rem;
  box-shadow: 2px 2px 6px #727272, -2px -2px 6px #727272;
}

.aboutMe:hover .barraGit {
  width: 60%;
  transition: width 1.7s ease-in-out;
}

.skillLvl {
  color: white;
  text-decoration: underline double;
}

.tecnolog {
  color: white;
  font-family: "Vollkorn", serif;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
}

/*==========================================
============= Lado Derecho About me ======
===========================================*/
.right {
  font-family: 'Bebas Neue', cursive;
  font-size: 7rem;
  color: white;
  width: 50%;
  padding-left: 6%;
}
.aboutTitle {
  margin-bottom: 0%;
  margin-top: 0;
  text-align: center;
  font-size: 5.5rem;
}
.aboutSubtitle {
  font-family: "Vollkorn", serif;
  font-size: 1.5rem;
  margin-top: 2%;
  line-height: 2rem;
  text-align: start;
}

.tecnoUl{
  padding-left: 0;
}
/*==========================================
=============    ======
===========================================*/
@media (max-width: 900px) {
  .aboutMeContainer {
    flex-direction: column;
    margin: auto;
    width: 100%;
  }
  .left {
    width: 100%;
    margin: auto;
    align-items: center;
    padding: 2%;
  }
  .right {
    width: 100%;
   padding: .5rem;
  }
  .aboutSubtitle {
  width: 100%;
  text-align: center;
  }
  .skills {
    font-size: 4rem;
  }
  .aboutTitle {
    font-size: 3rem;
    text-align: center;
  }
  .tecnolog {
    margin-top: 0rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }
  .fondoBar {
    display: flex;
    width: 90%;
    background-color: #e7e7e7;
    padding-left: 0;
    height: 1rem;
  }
  .row {
    width: 100%;
  }

  .barraHTML {
    width: 80%;
  }
  .barraCSS {
    width: 70%;
  }
  .barraReact {
    width: 70%;
  }
  .barraRedux {
    width: 70%;
  }
  .barraJS {
    width: 85%;
  }
  .barraBoot {
    width: 80%;
  }
  .barraNode {
    width: 60%;
  }
  .barraTS {
    width: 70%;
  }
  .barraPostgre {
    width: 65%;
  }
  .barraSeque {
    width: 60%;
  }
  .barraGit {
    width: 60%;
  }
}
